<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.art.art.steam_wash_i_solna">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
